    @import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Koulen&family=Lato:ital,wght@1,400;1,700&family=Libre+Baskerville:ital,wght@0,700;1,400&family=Lobster+Two:ital,wght@1,700&family=Playfair+Display:wght@700&family=Poppins:wght@400;500;600;900&display=swap');
    body {
        margin: 0;
        padding: 0;
        color: #fff;
        font-family: 'Lobster Two', sans-serif;
    }

    .wrapper {
        height: 100vh;
        width: 100vw;
        background: linear-gradient(-45deg, #DA70D6, #FFC0CB, #D8BFD8, #F0FFFF);
        background-size: 400% 400%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        animation: backgroundTransition 8s ease-in-out infinite;
    }

    h1 {
        text-transform: capitalize;
        letter-spacing: 4px;
    }

    h2 {
        text-transform: capitalize;
        letter-spacing: 4px;
    }

    .social-media {
        margin-top: 1rem;
        display: flex;
    }

    a {
        text-decoration: none;
        color: #fff;
        font-size: 24px;
        padding: 1rem 4rem;
        border: 1px solid #fff;
        min-width: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 2s cubic-bezier(0.55, 0.025, 0.675, 0.85);
    }

    a:hover {
        color: #DDA0DD;
        background-color: #ffff;
    }

    @keyframes backgroundTransition {
        0% {
            background-position: 0% 80%;
        }
        50% {
            background-position: 80% 100%;
        }
        100% {
            background-position: 0% 90%;
        }
    }
